In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint George,US,2021-1206 18:51:50,37.1041,-113.5841,66.67,33,1,0.00
1,1,Rikitea,PF,2021-1206 18:55:36,-23.1203,-134.9692,75.72,74,99,6.93
2,2,Lavrentiya,RU,2021-1206 18:55:37,65.5833,-171.0000,-2.51,93,100,10.45
3,3,Jamestown,US,2021-1206 18:51:15,42.0970,-79.2353,42.39,88,90,13.00
4,4,Mataura,NZ,2021-1206 18:55:37,-46.1927,168.8643,50.49,72,6,4.27

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = [max(temp,0) for temp in max_temp]
#for temp in max_temp:
#    temps.append(max(temp, 0))

In [6]:
#Heatmap of temperature
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[['Lat', 'Lng']]
# 2. Assign the weights variable to some values (get the maximum temperature)
max_temp = city_data_df['Max Temp']
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# 4. Assign the heatmap layer variable to the heatmap_layer attribute and add in the locations.
            #heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# 5. Add the heatmap layer
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#Heatmap of percent humidity

locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#Heatmap of Cloudiness

locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#Heatmap of Wind Speed
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Rikitea,PF,2021-1206 18:55:36,-23.1203,-134.9692,75.72,74,99,6.93
5,5,Bengkulu,ID,2021-1206 18:55:37,-3.8004,102.2655,75.45,89,100,4.54
7,7,Mahebourg,MU,2021-1206 18:55:07,-20.4081,57.7000,79.25,73,20,9.22
8,8,San Andres,CO,2021-1206 18:55:38,12.5847,-81.7006,86.02,70,20,14.97
9,9,Merauke,ID,2021-1206 18:55:05,-8.4667,140.3333,79.34,78,100,4.59
12,12,Sur,OM,2021-1206 18:55:39,22.5667,59.5289,72.99,64,0,5.03
15,15,Kismayo,SO,2021-1206 18:55:40,-0.3582,42.5454,79.84,79,48,10.04
18,18,Salalah,OM,2021-1206 18:55:41,17.0151,54.0924,73.38,38,0,4.70
21,21,Inhambane,MZ,2021-1206 18:55:42,-23.8650,35.3833,82.38,83,40,10.00
24,24,Kapaa,US,2021-1206 18:55:42,22.0752,-159.3190,73.38,88,90,3.00

In [12]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [13]:
preferred_cities_df.notnull().sum()

City_ID       197
City          197
Country       197
date          197
Lat           197
Lng           197
Max Temp      197
Humidity      197
Cloudiness    197
Wind Speed    197
dtype: int64

In [14]:
preferred_cities_df.count()

City_ID       197
City          197
Country       197
date          197
Lat           197
Lng           197
Max Temp      197
Humidity      197
Cloudiness    197
Wind Speed    197
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1      Rikitea      PF     75.72 -23.1203 -134.9692
5     Bengkulu      ID     75.45  -3.8004  102.2655
7    Mahebourg      MU     79.25 -20.4081   57.7000
8   San Andres      CO     86.02  12.5847  -81.7006
9      Merauke      ID     79.34  -8.4667  140.3333
12         Sur      OM     72.99  22.5667   59.5289
15     Kismayo      SO     79.84  -0.3582   42.5454
18     Salalah      OM     73.38  17.0151   54.0924
21   Inhambane      MZ     82.38 -23.8650   35.3833
24       Kapaa      US     73.38  22.0752 -159.3190

In [40]:
# Set parameters to search for hotels
params = {
    'radius':5000,
    'type':'lodging',
    'key': g_key
}

#Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print(hotel_df.loc[index, "Hotel Name"])
    except(IndexError):
        print("Hotel not found... skipping.")
    
print("********")
print("complete")

People ThankYou
Grage Hotel Bengkulu
Shandrani Beachcomber Resort & Spa
Hotel Arena Blanca
Hotel not found... skipping.
Sur Plaza Hotel
Agan-Hotel
HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel
Oceano
Sheraton Kauai Coconut Beach Resort
Casa Laguna, Bed & Breakfast
Keleti Beach Resort
Casa Tia Villa
Finch Bay Galapagos Hotel
Hotel Vijay palace
la casona de juancho
Crystal Beach and Camping Resort Ormara
Dynasty Suites Redlands
Paradise Inn
Nusa Island Retreat
Ann Bruce Backpackers
Hotel Kou-Bugny
Pereybere Hotel & Spa
Hilo Hawaiian Hotel
Pousada Porto Praia
Ramada Limited Lake City
Chambres d'hôte "La Trinité"
Casa Pedrosa
Lambitu Hotel
Che Lagarto Hostel Santiago
Lorengau Harbourside Hotel
Hotel Tesoro Los Cabos
KOSAN UNGU UNSIK
Posada Villaven C.A.
ibis Styles Mt Isa Verona
Isles Sunset Lodge
Hotel San Isidro Oficial
Hotel Morón
Guest House HESADA
International Lodge Motel
Expeditions Ténére voyages
Desert Gardens Hotel - Ayers Rock Resort
Hotel Castelo
Scoop Guest House
Adomaa Memorial Hotel
Hospitality Carnarvon
Romin mentes de mais
Two Moons Hotel
Hotel del Comahue
Blue Ridge Beach Resort
hotel luna del desierto
Mystic Sands Beachfront Accommodation
Posada del Inti Centro
Haajy Guest House 1
Villa Enata
Tanna Lodge
Aquarius Boutique Hotel Sampit
Cititel Penang
Conrad Bora Bora Nui
Hotel Ambulu Jember
Bora-Bora Pearl Beach Resort & Spa
Shanti Maurice Resort & Spa
Kaba Motel
Cititel Penang
Divi Village Golf & Beach Resort
Posada Lilia
Hotel not found... skipping.
Hotel Chik Chik Namibe
Pousada Beija Flor
Hotel not found... skipping.
La Tahzan Guest House
Hotel not found... skipping.
Hotel not found... skipping.
El Medina
Quality Suites Vila Velha
JABIR HOTEL
Osprey Beach Hotel
Restaurant Auberge La Pétrolière
Hotels in Lakshadweep Islands
Veranda Paul et Virginie Hotel & Spa
Atlantis Hotel
Uruna Bay Retreat
hotel safari
Hotel not found... skipping.
Sparsa
TDC Village (Hundred Man Camp)
Ramah Kost KITA
Lakan Hotel
Hotel Santa Cruz
Hotel not found... skipping.
INN NEW HORIZON
Hotel Morotin
Fengshui Residence
Bungalow 63
Pousada dos Navegantes
Hotel La Villa Couacou
Ritz Lauca
Auberge les abou
Pousada da Colina
Fuente del Guania Hotel de Lujo
Screensaver
Pousada Monte Carmelo O Pão
ALETHEIA Appartement Sinnamary
DISCOVERY AMBOASARY
Gold Crest Hotel
Villa Gerona
Hôtel Le Lagon
Sunrise Attitude Hotel
La Quinta Inn & Suites by Wyndham Raymondville
Sharif Plaza Hotel
Axim Beach Resort And Spa
Hotel Patagonia
Jaflo Gardens Hotel
Rio Xingu Camping
Mercure Padang
Pousada Porto De Canoas
Ramee Garden Hotel Apartments
Quinta Samay
Hotel not found... skipping.
Nuevo Hotel Plaza
Casablanca Inn
Maui Sunset
ASTON Denpasar Hotel & Convention Center
Hôtel & Restaurant DIANA Ambilobe
Hotel Plaza Providencia
The Esplanade Hotel
The Hamsa Resort
Sunset Inn
Hotel Miramar
Motel 6 Sinton, TX
Waigo Splash Hotel
Abaco Beach Resort
Hotel Santika Luwuk
Hotel Xaguate
Ilha Flat Hotel
Hotel Altos de Tuqui
Auberge du Routard
Hotel Memory
Palace Hotel - Pradópolis
Ditlhapi Guest House
Holiday Inn Express & Suites Alice, an IHG Hotel
Hotel Mansión
Le Rocher
Hôtel Le Dronmi
Moon light Furnished Units
Holiday Inn Express Lompoc, an IHG Hotel
Big Fish Guest House
Taloa Heights
CeBlue Villas & Beach Resort
Complejo Turístico Farelluk
Resorts Resource Group International
Kost Pria
Hotel Náutico de Paita
Timotel Hotel
Miraval Arizona Resort & Spa
Haritha Hotel Alampur
Hotel GSA
Hotel Ixola
Hotel not found... skipping.
Hotel not found... skipping.
Hotel Santa Cruz
فندق الدويم
Hotel not found... skipping.
Oumou Elghoura
Protea Hotel by Marriott Zambezi River Lodge
Hotel Fellip
Nayra Palace Hotel
Pin Drop Hotel
Pousada e churrascaria Manguaba
Puerto Delta Apartamentos
Erlyn’s Sta Rosa City Home
Nuli Sapi
Piaçabuçu News
La Ode Husein
Grand Kecubung Hotel
Agapita M. Nicart
Hotel Porto do Sol
Takalvan Motel
Restaurant Greedy Coco Lodge Majunga
Hotel China
Days Inn Rincon
Welcomhotel By ITC Hotels, Bay Island, Port Blair
Lidera
Hotel Citra
Yos ega cv
Case de Passage De la Prefecture
Hotel not found... skipping.
Hotel not found... skipping.
Sulthan Hotel International
Hotel not found... skipping.
Alperi Botique Resort
Hotel not found... skipping.
HS Hotsson Smart Acapulco
Hotel Juba
Mwalimu Guest mandera
Shiringal Touristic Park
Hotel not found... skipping.
********
complete

In [32]:
hotel_df.head(25)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Rikitea,PF,75.72,-23.1203,-134.9692,People ThankYou
5,Bengkulu,ID,75.45,-3.8004,102.2655,Grage Hotel Bengkulu
7,Mahebourg,MU,79.25,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
8,San Andres,CO,86.02,12.5847,-81.7006,Hotel Arena Blanca
9,Merauke,ID,79.34,-8.4667,140.3333,
12,Sur,OM,72.99,22.5667,59.5289,Sur Plaza Hotel
15,Kismayo,SO,79.84,-0.3582,42.5454,Agan-Hotel
18,Salalah,OM,73.38,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
21,Inhambane,MZ,82.38,-23.8650,35.3833,Oceano
24,Kapaa,US,73.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
28,Guerrero Negro,MX,71.29,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
34,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
36,Bambous Virieux,MU,79.21,-20.3428,57.7575,Casa Tia Villa
37,Puerto Ayora,EC,75.16,-0.7393,-90.3518,Finch Bay Galapagos Hotel
39,Murliganj,IN,70.34,25.9000,86.9833,Hotel Vijay palace
41,Puerto Leguizamo,CO,80.49,-0.1934,-74.7819,la casona de juancho
44,Ormara,PK,74.95,25.2088,64.6357,Crystal Beach and Camping Resort Ormara
54,Redlands,US,83.93,34.0556,-117.1825,Dynasty Suites Redlands
55,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
56,Kavieng,PG,81.37,-2.5744,150.7967,Nusa Island Retreat
57,Mutare,ZW,73.31,-18.9707,32.6709,Ann Bruce Backpackers
59,Vao,NC,77.14,-22.6667,167.4833,Hotel Kou-Bugny
68,Cap Malheureux,MU,79.47,-19.9842,57.6142,Pereybere Hotel & Spa
71,Hilo,US,77.29,19.7297,-155.0900,Hilo Hawaiian Hotel
72,Arraial Do Cabo,BR,76.86,-22.9661,-42.0278,Pousada Porto Praia

In [27]:
hotel_df["Hotel Name"].isnull().sum()

0

In [29]:
hotel_df["Hotel Name"].notnull().sum()

197

In [31]:
hotel_df["Hotel Name"].count()

197

In [41]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]


locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))